.flashcard {
    background-image: url('/images/fc-bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 23px 200px 0;

        button {
            border: none;
            background-color: transparent;
            img {
                width: 50px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__container {
        height: 85%;
        width: 85%;
        background-color: white;
        border-radius: 5px;
    }

    &__center {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    &__card {
        width: 300px;
            height: 400px;
            perspective: 1000px;
            cursor: pointer;
            &::before {
                    content: '';
                    position: absolute;
                    top: -50px;
                    right: -60px;
                    width: 60px;
                    height: 60px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    backface-visibility: hidden;
                    background-image: url('/images/plus.png');
                    background-size: cover;
                }
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    
        &.flipped {
            transform: rotateY(180deg);
        }
    }

    &__side {
        position: absolute;
        background-color: rgb(65, 218, 65);
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &__front {  
            img {
                max-width: 80%;
                max-height: 250px;
                object-fit: contain;
                margin-bottom: 25px;
            }
    }

    &__back {
            transform: rotateY(180deg);

    }

    &__actions {
        position: relative;
    }

    &__button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;

        &--back {
            position: absolute;
            left: 200px;
        }

        &--next {
            position: absolute;
            right: 200px;
        }

        &:disabled {
            display: none;
            cursor: not-allowed;
        }

        img {
            width: 130px;
        }
    }
}