* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sigmar', sans-serif;
}

.divider {
    display: flex;
    margin-left: 270px;
}

.content {
    padding: 10px 20px;
    flex: 2;
}