* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sigmar', sans-serif;
    line-height: 1.6;
}

.divider {
    display: flex;
    margin-left: 270px;
}

.content {
    padding: 10px 20px;
    flex: 2;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}