.navbar {
    position: fixed;
    background-color: #BAEA73;
    width: 270px;
    height: 100vh;
    padding: 0 20px;
    border-right: solid 4px #FF8DA3;

    &__logo {
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menu {
        list-style-type: none;
        width: 100%;
    }

    &__item {
        padding: 10px 30px;
        border-radius: 10px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 18px;

        &:hover {
            background-color: #cef693;
        }
    }

}