.sidebar { 
    padding: 40px 30px;
    flex: 1;

    &__card {
        background-color: #f6ecb3;
        border: solid 2px #ba8a68;
        border-radius: 10px;
        padding: 20px 20px;
        margin-bottom: 20px;
    }

}