<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign language LMS</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>
  <body>
    <div class="arrange">
      <div class="container">
        <div class="arrange__board">
          <div class="arrange__time">
            <h3>Thời gian còn lại:</h3>
            <span>19:47</span>
          </div>
          <div class="arrange__count">
            <h3>Câu hỏi:</h3>
            <span>1/10</span>
          </div>
          <div class="arrange__answer">
            <ul class="arrange__items">
              <li class="arrange__holder"></li>
              <li class="arrange__holder"></li>
              <li class="arrange__holder"></li>
              <li class="arrange__holder"></li>
              <li class="arrange__holder"></li>
              <li class="arrange__holder"></li>
            </ul>
          </div>
          <div class="arrange__button">
            <button class="arrange__submit">Xác nhận</button>
          </div>
          <div class="arrange__choices">
            <ul class="arrange__items">
              <li class="arrange__item">thời gian buổi sáng</li>
              <li class="arrange__item">để</li>
              <li class="arrange__item">Tôi thường dành</li>
              <li class="arrange__item">đọc sách.</li>
              <li class="arrange__item">học tiếng việt</li>
              <li class="arrange__item">và</li>
            </ul>
          </div>
        </div>
        <img
          src="../assets/images/khunglong.png"
          alt="khunglong"
          class="arrange__dinosaur"
        />
        <div class="arrange__scoreboard"></div>
      </div>
    </div>

    <script src="../assets/js/arrange.js " defer></script>
  </body>
</html>
