.header {
    background-color: #488da6;
    .container {
        margin: 0 110px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
            height: 40px;
        }
        input {
                width: 500px;
                padding: 10px 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
    }

    &__right {
        display: flex;
        gap: 15px;
        color: white;
        img {
            height: 30px;
        }
    }
}